* {
	margin: 0;
	box-sizing: border-box;
	font-size: 0;
}

body {
}

#outer {
	margin: 50px 0;
	width: 800px;
	height: 600px;
	text-align: center;
	border: 10px solid red;
	overflow: hidden;
}

#img-1 {
	background-image: url("../images/1.jpg");
	background-position: center;
	height: 100%;
	width: 100%;
	transition: all 1s;
}


#img-1:hover {
	width: 150%;
	height: 150%;
}


